// Overrides before bootstrap.

// Example
// $body-bg: blue;

$lightest-gray: #f8f9fa;
$light-gray: #e9ecef;
$not-so-light-gray: #dee2e6;
$even-moreso-not-so-light-gray: rgba(#666666, 0.71);
$dark-gray: rgb(74, 74, 74);

$border-width:1px;
$border-color:$light-gray;
$border-style:solid;
$border-radius:5px;

$fa-font-path: "~font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";
@import "~bootstrap/scss/bootstrap.scss";
